<div class="gallery marginTop30 marginBottom30">
  
{% gimmelist slideshow from slideshows with { article: gimme.article } %}

  {% gimmelist slideshowItem from slideshowItems|limit(99) with { article: gimme.article, slideshow: slideshow } %}
  {% if loop.first %}
  <h4>Gallery</h4>
  <ul id="imageGallery">
  {% endif %}
    {% set bigPic = null %}
    {% set thumbPic = null %}
    {% set captionPic = "" %}
      {% gimme rendition with {'media': slideshowItem.articleMedia, 'name': '1250x600', 'fallback': 'original' } %}
        {% set bigPic = url(rendition) %}
        {% set captionPic = media.description %}
      {% endgimme %}
    {% gimme rendition with {'media': slideshowItem.articleMedia, 'name': '610x380', 'fallback': '300x220' } %}
        {% set thumbPic = url(rendition) %}
      {% endgimme %}

      <li data-thumb="{{ thumbPic }}" data-src="{{ bigPic }}">
          <img src="{{ bigPic }}" alt="{{ captionPic }}" />
        </li>
    {% if loop.last %}
    </ul>
    {% endif %}
  {% endgimmelist %}
</ul>

{% endgimmelist %}

</div>
