<div class="accordion">
{% include 'widgets/listMost.html.twig' with { 'CLname': 'Most read' } %}
{% include 'widgets/listMost.html.twig' with { 'CLname': 'Most commented' } %}
{% include 'widgets/listMost.html.twig' with { 'CLname': 'Most shared' } %}
</div>
